@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.ttf');
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* - - - - - GLOBALS - - - - - */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--Background); */
}

:root {
    --Smoky-Black: #0A0202;
    --Pale-Dogwood: #F5D0C5;
    --Buff: #D69F7E;
    --Bole: #774936;
    --Black-Bean: #3C0000;
    --Coral-Tree: #A87673;
    --Big-Stone: #1A2D40;
    --White-Linen: #F6EEE3;
    --White-Smoke: #F2F2F2;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

h1 {
    color: var(--Black-Bean);
    font-size: 4rem;
    margin: 1.5rem 0;
}

h2 {
    color: var(--Big-Stone);
    font-size: 2rem;
}

h3 {
    color: var(--Coral-Tree);
    font-size: 1.5rem;
    font-weight: 200;
    margin: 1rem 2rem;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

p, li {
    color: #4b4b4b;
    font-size: 1.2rem;
    font-style: normal;
    margin: 1.2rem;
    text-indent: 1.5rem;
    line-height: 1.5rem;
}

li {
    margin-left: 2rem;
    text-indent: 0;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

@media (min-width: 1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}

p.success {
    color: green;
}

p.danger {
    color: red;
}


/* - - - - - NAVBAR - - - - - */

.navbar {
    background-color: var(--Black-Bean);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.menu-toggle {
    display: flex;
    background-color: var(--Black-Bean);
    color: var(--White-Smoke);
    border: none;
    padding: 14px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    justify-content: flex-end;
}

.icon {
    display: flex;
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
}

.nav-links {
    display: none;
    transform: translateY(-100%);
}

.nav-link {
    float: none;
    display: block;
    color: var(--White-Smoke);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgba(30, 0, 0, .5);
    transition: .5s;
}


/* - - - - - BANNER - - - - - */

banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 55vh;
    padding-top: 3rem;
    background: linear-gradient(180deg, rgba(60,0,0,1) 30%, rgba(255,255,255,1) 90%);
}

banner img {
    width: auto;
    height: 50vh;
}


/* - - - - - PAGES - - - - -  */

.saiba-mais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: var(--Coral-Tree);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--Bole);
}

.alunos, .professores {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.alunos img {
    margin-left: -1rem;
    width: 90vw;
}

.professores img {
    width: 80%;
}

#livro {
    background-color: color-mix(in oklch, transparent, var(--Big-Stone) 20%);
    box-shadow: 
    inset 0px 8px 20px -10px var(--Big-Stone),
    inset 0px -8px 20px -10px var(--Big-Stone);
    padding: 1rem 0;
}


#personagens {
    background-color: var(--White-Linen);
    box-shadow: 
    inset 0px 15px 20px -10px var(--Pale-Dogwood),
    inset 0px -15px 20px -10px var(--Pale-Dogwood); 
    padding: 1rem 0 0 0;
}

.personagem {
    display: flex;
    justify-content: center;
}

.personagem img {
    width: 80vw;
}



@media (min-width: 600px) {
    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transform: translateY(0);
    }

    .nav-link {
        float: none;
        display: block;
        flex: 1;
        text-align: center;
    }

    .navbar {
        height: auto;
    }

    .menu-toggle {
        display: none;
    }

    #instituicao {
        height: auto;
    }

    /* #disciplinas, #livro, #personagens, #alunos {
        height: 100vh;
    } */

    #instituicao, #disciplinas, #livro, #alunos {
        padding: 0 5rem;
    }

    #personagens {
        padding: 1rem 5rem 0 5rem;
    }

    #livro {
        padding: 1rem 5rem;
    }

    .personagem img {
        height: 40vh;
        width: auto;
    }

    .alunos img {
        margin-left: -8rem;
        width: 80vw;
    }

    .professores img {
        width: 50%;
    }
}